* {
    box-sizing: border-box;
}

.dark-mode .content  {
    background-color: #333333 ;
    color: white;}
.dark-mode .icon-bar {
    background-color: #121212;
}
.dark-mode .navbar {background-color: #333333; }
.dark-mode .nav-bar-option a {border: 3px solid #333333; color: white;}
.dark-mode .nav-bar-option a:hover {border: 3px solid white; color: white;}
.dark-mode .navbar a.active  {background-color: white; color:black;border: 3px solid white;}
.dark-mode .button3 {border: 3px solid #ffffff; background-color: #333333; color: white; }
.dark-mode .tweets {
    background-color: #333333 ;
}
.dark-mode .navbar .only-phone {
  color:#ffffff;
}

.dark-mode {
    background-color: #121212;
}



body {
     font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0; 
    background-color: #073763; 
  
}

h1, h2, h3, h4, h5, h6 {
    
    font-weight: 500; 
}

.button {outline:none;  }
.button1 {   background-color: white;    color: black;    border: 3px solid #073763ff; }  .button1:hover {   background-color: #073763ff;   color: white; }  

.button2 {   background-color: white;    color: black;    border: 3px solid #073763ff; }  .button2:hover {   background-color: #073763ff;   color: white; }  

.button3 {  text-align: center;   text-decoration: none;   display: inline-block;   font-size: 100%;      transition-duration: 0.4s;   cursor: pointer; margin: 0px 0px 0 0 ; padding: 5px 14px;  background-color: white;    color: black;    border: 3px solid #000000; outline:none; }  .button3:hover {   background-color: #073763ff;   color: white; outline:none;}  

.button4 {   background-color: white;   color: black;   border: 3px solid #073763ff;  }  .button4:hover {background-color: #073763ff;}  

.button5 {   background-color: #fff;   color: #111;   border: 0;; text-align: center;   text-decoration: none;   display: inline-block;   font-size: 100%;      transition-duration: 0.4s;   cursor: pointer; margin: 0px 0px 0 0 ; padding: 5px 14px; position: absolute;
  top: 0;
  right: 25px; text-decoration: none;
  font-size: 36px;
  margin-left: 50px;     }    .button5:hover {   background-color: #fff;    color:black;outline:none;
}
.dark-mode .button5 {    background-color: #111;   color: #eee;    }    .button5:hover {  background-color: #111;    color:white;outline:none;  transition-duration: 0.5s;
}

p {
    font-size: 17px;
    font-weight: 400;
}

.content {
    width: 100%;
    float: left;
    background-color: #ffffff;
    margin: 0px 0px 20px 0px ;
    padding: 10px 40px 20px 40px;
}

.right-panel {
    width: 30%; background-color: none;
    float: left;
}

.page {
    margin: 78px 20px 20px 20px; background-color: crimson; 
}

.ad-content {
    margin: 0px 10px 20px 20px;
    background-color:dimgrey;
    height: 300px;
    padding: 10px 10px 10px 10px;
    
}

.tweets {
    margin: 20px 10px 10px 20px;
    background-color: white;
    display: none;
    padding: 10px 10px 10px 10px;
}

.navbar {
    
  position: fixed;
  top: 0; width: 100%;
  padding: 0px 0px 5px 10px;
  overflow:auto; background-color: #ffffff;
  
 
}

@media screen and (max-width: 900px) {
    
    .navbar .nav-logo {
    float: left;
    }
    
    .page {
    margin: 68px 0px 10px 0px;
    }
    .right-panel{
        display: none; 
    }
    .page .left-panel {
        width:100%  ;display: block; 
    }
    
    .page .left-panel .content {
    padding: 10px 20px 10px 20px; margin: 0px 0px 10px 0px ; 
    }
}
.dark-mode .sidenav {background-color: #111;}
.dark-mode .sidenav a { color: #eee}
.dark-mode .sidenav a:hover { color:white; text-decoration: underline;}
.sidenav {
  height: 100%; 
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #073763;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #073763; text-decoration: underline;
}



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.icon-bar {
    background-color: #073763;
    height:auto; 
    padding: 20px;
}



.icon {
    margin: 0px 20px 20px 0px; 
    width: calc(100%/7); min-width: 69px; max-width: 100px;
}

.icon-last {
    margin: 0px 0px 20px 0px;
    width: calc(100%/7); min-width: 69px; max-width: 100px;
}

.inside-heading {
    color: white; font-weight: 400;
    font-size: 37px;
    
}





.inside-heading-line {
    margin: 0px 0px 0px 0px;
}

.inside-text {
    
    color: white;
}

.nav-bar-option {
  margin: 10px 10px 5px 0px;
  float: right;
}

.nav-bar-option a {
  display: block;
  color: darkslategrey;
  text-align: center;
  padding: 5px 14px;
  text-decoration: none; border: 3px solid #ffffff;
}

.nav-bar-option a:hover {
  border: 3px solid #000000; color: black;
}

.navbar a.active {
  background-color:  black; color: white; border: 3px solid #000000;
}

.left-panel {
    
    width: 70%;
    float: left;
    background-color: none;
    margin: 0 0 0 0 ;
    padding: 0 0 0 0;

}

.only-phone { float: left;
    max-width: 50px; margin-left: 10px;margin-top: 9px; font-size:25px;cursor:pointer;color:#073763;
}
    @media screen and (max-width: 9750px) {
        .navbar .only-desktop {
            display: block;
        }
        .navbar .only-phone {
            display: none;
        }
        
        
    }

    @media screen and (max-width: 750px) {
        .navbar .only-phone {
            display: block;
        }
        .navbar .only-desktop {
            display: none;
        }
    }





.logo-on-navbar {
    float:left; width:40px; margin-top: 6px; margin-left: 20px;
}
.text-logo-on-navbar {float:left;  display: flex;
  justify-content: center;
  align-items: center; margin: 9px 0px 0px 10px; padding:0; font-size: 30px; font-weight: 400;}
.dark-mode .navbar .text-logo-on-navbar {color: white;}

.nav-logo {
    float: left;
}

