:root {
    
    --light1: #ffffff;
    --light1_75: rgba(255, 255, 255, 0.750);
    --light2: #eeeeee;
    
    --dark1: #000000;
    --dark1_75: rgba(0, 0, 0, 0.750);
    --dark2: #222222;
    --dark3: #333333;
    --dark3_75: rgba(66, 66, 66, 0.75);
    
  }

.light {
    --background_color: var(--light2);
    --font_color: var(--dark1);
    --bar_color: var(--light1_75);
    --bar_color_hover: var(--light1);
    --item_background_color: var(--light1);
}

.dark {
    --background_color: var(--dark2);
    --font_color: var(--light1);
    --bar_color: var(--dark3_75);
    --bar_color_hover: var(--dark3);
    --item_background_color: var(--dark3);

}

.magic {
    --background_color: red;
    --font_color: blue;
    --bar_color: green;
    --bar_color_hover: yellow;
    --item_background_color: orange;
}