/* Shadow and borders */
.outer,
.form_container,
.description_box, .switch_between_sign_in_up {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 0px solid rgb(98, 98, 98);
}

/* Dimensions */
.outer {
  width: 70%;
  min-height: 585px;
  margin: 60px 15%;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}

.switch_between_sign_in_up {
    float: left;
    padding: 0px 45px;
    width: 40%;
    margin: 5% calc(20% / 3) 30px calc(20% / 6);
    min-height: 50px;
    background-color: #ffffff;
    border-radius: 20px;
    border: 0px solid rgb(140, 140, 140);
}

.form_container {
  float: left;
  padding: 30px 45px 20px 45px;
  width: 40%;
  margin: 0% calc(20% / 3) 5% calc(20% / 6);
  min-height: 400px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 0px solid rgb(140, 140, 140);
}

.description_box {
  float: left;
  width: 40%;
  min-height:  480px;
  padding: 45px;
  margin: 5% calc(20% / 6) 5% calc(20% / 3);
  border-radius: 20px;
}

.description_box > img,
p {
  width: 100%;
}

.align_center {
  text-align: center;
}

.google_button {
  height: auto;
  width: calc(100%);
  margin: 20px 0px 0px 0px;
  padding: 0px 20px 0px 2px;
  border: 3px solid lightgrey;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  
}

#google_button:hover {
    background: #DB4437; color: white;
}

#facebook_button:hover {
    background: #4267B2; color: white;
}

#email_button:hover {
    background: #222; color: white;
}