html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  transition: 800ms;
}

#announcement_bar {
  padding: 20px;
  height:77px;
}

#announcement_bar  > p {
  float:left;
  margin-top: 5px;
}

#announcement_bar #button__close_announcement_bar {
  float: right;
  
}

header {
  height: fit-content;
  position: sticky;
  top:0;
  padding: 20px;
  background-color: rgb(42, 64, 83, 50%) !important;
  z-index: 9;
}



#developer_options {
  min-height: calc(2 * 37px + 3 * 20px);
  height: fit-content;
  padding: 20px;
  margin-bottom: 0px;
}

#developer_options .the_content {
  float: left;
}

#developer_options #button__close_developer_options {
  float: right;
  
}

.setting {
  display: block;
}

.menu-pane {
  width: 300px;
  height: calc(100vh - 2 * 37px - 3 * 20px);
  height:auto;
  padding: 20px;
margin: 20px 0 0 20px;

border: 3px solid #777;
  border-radius: 6px;
  float: left;
}



.menu-pane-option {
  border-left: 3px solid #777;
  height: 38px;
  background-color: rgb(34, 34, 34);
  border-radius: 6px;
  margin: 10px 0px;
  padding: 9px 0 0 20px;
  cursor:pointer;
}

.menu-pane-option:hover {
  border: 3px solid #777;
  padding-top: 6px;
 
}

.active-menu-pane-option { 
  background-color: rgb(39, 81, 95);
}

.content-pane {
  width: calc(100% - 300px - 40px);

  float: left;
  overflow: auto;
}

#webpage {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

  grid-auto-rows: minmax(100px, auto);
  grid-auto-columns: minmax(200px, auto);

  column-gap: 50px;
  row-gap: 50px;

  margin: 20px 5% 50px 5%;
  padding: 0px;

  border-radius: 18.5px;
  background-color: #00800000;
}

.item {
  padding: 20px;
  border: 3px solid #777;
  cursor:pointer;
}


/* top bar
---------------------------------------- */

  #top_bar {
    
    transition: 0.5s; /* time for shrinking */
    transition-delay: 3s; /* delay in bar before shrinking */

     animation-name: bar-elongate;
    animation-duration: 2s;  

    
  }
  
  #top_bar:hover {

    transition: 0.5s; /* time for elongation */
    transition-delay: 0.2s; /* delay in bar before elongation */

    /* animation-name: hover-bar-elongate;
    animation-duration: 0.5s;
    animation-delay: 0.2s; */
  }

 #top_bar:hover .slider:before {

  -webkit-transition: 0.5s;
  transition: 0.5s;
 }

  #top_bar > .show_on_expand {
    
    transition: 0s;    
    transition-delay: 2.9s; /* delay in switches before shrinking */

     animation-name: options-bar-elongate;
    animation-duration: 2s; 
  }
  
  #top_bar:hover > .show_on_expand {
    
    transition: 0s;
    transition-delay: 0.8s; /* delay in switches before elongation */
  }
  

 /* hj */
 #top_bar > .show_on_expand {
  float: right;
  visibility: hidden;
}

#top_bar:hover > .show_on_expand {
  visibility: visible;
}
  

#top_bar #logo {
  margin-left: 4px;
  float:left;
}
  
.bar_switch, #version {
  margin-right: 20px;
  float:right;
  margin-right: 15px;
    margin-top: 6px;
}

#version {
  float: left;
  margin-top: 6px;
  margin-left: 15px;
}

  /* status bar 
  ---------------------------------- */
  
  #status_bar {
    float: right;
    width: 330px;
    padding-top: 4px;
    
  }
  
  #status_bar > .expand {
    visibility: hidden;
    float: right;
    transition-delay: 0s;
  }
  
  #status_bar:hover > .expand {
    visibility: visible;
    transition-delay: 0ms;
  }
  
  #status_bar:hover {
    /*width: calc(100% - 360px);*/
  
    transition-delay: 0s;
  }
  
  /* menu bar 
  -------------------------------------- */
  .menu_bar {
    left: 20px;
    float: left;
  
    width: calc(100% - 40px);
  
    margin: 40px 20px;
    height: 37px;
    padding: 8px 0px 0px 0px;
  
    transition: 400ms;
    transition-delay: 0.8s;
  }
  
  
  /* search bar 
  -------------------------------------- */
  .search_bar {
    left: 20px;
    float: left;
  
    width: calc(100% - 40px);
  
    margin: 0;
    height: 37px;
    padding: 8px 0px 0px 0px;
  
    transition: 400ms;
    transition-delay: 0.8s;
  }
  
  #dopbeta {
    width: calc(100% - 800px);
    margin-left: calc(400px);
    cursor: auto;
  }
  
  .search_this_query {
    width: calc(100% - 800px);
    margin-left: 0;
  }
  
  /* bottom bar 
  --------------------------------------- */
  
  .bottom-bar {
    position: fixed;
    bottom: 20px;
    display: inline-block;
    right: 20px;
    height: 37px;
  
    width: 156px;
    border-radius: 50vmin;
    border: 3px solid #777;
    
  
    transition-delay: 800ms;
    border: 3px solid #777;
  
    overflow: hidden;
    padding: 2px 20px 10px 5px;
  
    animation-name: bottom-bar;
    animation-duration: 2s;
  }
  
  .bottom-bar > p {
    visibility: hidden;
  
    transition-delay: 0.6s;
  }
  
  .bottom-bar:hover > p {
    visibility: visible;
    transition-delay: 0s;
  }
  
  .bottom-bar:hover {
    width: calc(100% - 40px);
    transition-delay: 0s;
  }
  
  /* Footer 
  ------------------------------------ */
  footer {
    padding: 40px;
    display: block;
    clear: both;
  }
  
  footer a {
    margin: 0 0 20px 0;
    display: inline-block;
    color: #ccc;
  }
  