* {
  font-family: Calibri, sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-weight: 200;
}


a,
p {
  text-decoration: none;
  line-height: 25px;
}

h1 {
  font-size: 27px;
  font-weight: 400;
}

li {
  margin-bottom: 8px;
}

button {
  padding: 5px 15px;
  border-radius: 50vmin;

  border: 2px solid var(--font_color);
  color: var(--font_color);
  background-color: var(--background_color);
  margin: 0px;
  cursor: pointer;
}

input[type="text"] {
  font-size: 16px;
  background-color: var(--item_background_color);

  padding: 10px 20px;

  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  outline: none;

  background-image: none;
  border: 0px solid #ccc;
  border-radius: 50vmin;
}

input[type="search"] {
  /* box-sizing: border-box; */
  border: 0px solid #ccc;
  /* border-radius: 50vw; */
  font-size: 16px;
  background-color: var(--item_background_color);
  background-image: url("search_icon.png");
  background-position: 450px 10px;
  background-repeat: no-repeat;
  padding: 0;
  height: inherit;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  outline: none;

  background-image: none;

  /* margin-left: calc((100% - 500px) / 2); */
}

input[type="search"]:focus {
  /* width: 500px; */
  border: 0px solid #777;
  outline: none;
  background-image: none;
}

/* border radius  */
.top-bar,
.bottom-bar,
.message-bar,
.announcement-bar,
.menu_option,
.menu-pane,
.top-bar2,
.item {
  border-radius: 6px;
  /* border-radius: 8px; */
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.no_pointer {
  cursor: auto;
}

.hidden {
  display: none;
}

#screen_size_error {
  display: none;
}

.transition {
  transition: 400ms;
}

.shadow {
  border: 0px solid black;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.19);
}

.resize {
  resize: vertical;
}

.item {
  cursor: auto;
  overflow: auto;
}

.item {
  transition: 50ms;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.19);
}

.item h1 {
  /* border-bottom: dashed 2px grey; */
  padding-bottom: 20px;
}




.youtube_embed {
  position: relative;
  padding-bottom: 56.25%;
  display: none;
}

.iframe_youtube {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* tool tip
-------------------------------------- */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 8px;
  position: absolute;
  z-index: 1;
  bottom: -250%;
  left: 20%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: -32%;
  transform: rotate(180deg);
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  transition-delay: 1s;
}

/* toggle
-------------------------------------- */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
  border-radius: 50vw;
  top: 0px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: none;
  border: 3px solid #777;
  -webkit-transition: 0s;
  transition: 0s;

  border-radius: 50vw;
}

.slider:before {
  position: absolute;
  content: "";
  height: 60%;
  width: 25px;
  left: 5px;
  bottom: 22%;
  background-color: var(--font_color);
  -webkit-transition: 0s;
  transition: 0s;

  border-radius: 50vw;
}

input:checked + .slider {
  background-color: none;
}

input:focus + .slider {
  box-shadow: 0 0 0px #fff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* animations 
----------------------------------*/
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bar-elongate {
  0% {
    width: 165px;
    background-color: rgb(88, 88, 88);
  }

  90% {
    width: calc(100% - 400px + 50px);
  }
  100% {
    width: 165px;
  }
}

@keyframes hover-bar-elongate {
  0% {
    width: 165px;
    background-color: rgb(88, 88, 88);
  }

  100% {
    width: calc(100% - 400px);
  }
}


@keyframes bottom-bar {
  0% {
  }

  100% {
  }
}

@keyframes options-bar-elongate {
  0% {
    visibility: hidden;
  }

  100% {
    visibility: hidden;
  }
}


/* design principles */
#top_bar, #status_bar {
  border-radius: 50vmin;
  border: 3px solid #777;
  float:left;
  height: 38px;
  padding: 0px 10px 0 15px;
}

#top_bar {
  width: calc(165px);
  margin-right: 20px;
  padding: 0;
}

#top_bar:hover {
  width: calc(100% - 400px + 50px);
}