*,
*:before,
*:after {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--background_color);
  color: var(--font_color);
}

#top_bar {
  
  border: 3px solid transparent;

}


#bottom_bar,
.menu_option,
.item,
.menu-pane,
.blur_backdrop,
header {
  color: var(--font_color);
  -webkit-backdrop-filter: blur(13px);
  backdrop-filter: blur(13px);
}

header {
  
  background-color: var(--accent-color-theme-based);
}

#bottom_bar:hover,
.menu_option {
  /* background-color: var(--bar_color_hover); */

  /* background: rgb(243 243 243 / 50%) !important; */

  -webkit-backdrop-filter: blur(13px);
  backdrop-filter: blur(13px);
}


a,
p {
  color: var(--font_color);
}

#developer_options {
  background-color: var(--dev-background-color);
  
}

.active-menu-pane-option {
  border-left: 5px solid var(--accent-color);
}

.menu-pane .active {
  /* background-color: var(--accent-color); */
  color: aliceblue;
}

#bottom_bar {
  background: var(--bottom_bar_correction);
}
