
*,
*:before,
*:after {
  color: var(--fontColor);
  color-scheme: dark;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--background_color);
  color: var(--font_color);
  color-scheme: dark;
}

#bottom_bar,
 
.menu_option, .blur_backdrop,  header {
  /* background-color: var(--bar_color); */
  color: var(--font_color);

  /* background: rgb(7 7 7  / 50%) !important; */
  
  -webkit-backdrop-filter: blur(13px);
  backdrop-filter: blur(13px);
}


header {
  
  background-color: var(--item_background_color);
 
}

#bottom_bar:hover,

.menu_option {
  /* background-color: var(--bar_color_hover); */
  
  /* background: rgb(243 243 243 / 50%) !important; */
  
  -webkit-backdrop-filter: blur(13px);
  backdrop-filter: blur(13px);


}

.item {
  background-color: var(--item_background_color);
  color: var(--font_color);
}

.item:hover {
  background-color: none;
}

.main_item:hover {
  color: var(--font_color);
}

a,
p {
  color: var(--font_color);
}

#developer_options {
  background-color: var(--dev-background-color);
}

