:root {
  --light1_100: #ffffff;
  --light1_075: #ffffffbf;
  --light1_025: hsla(0, 0%, 100%, 0.25);

  --light2_100: #eeeeee;

  --light3_100: rgb(255, 228, 169);

  --dark1_100: #000000;
  --dark1_075: #000000bf;
  --dark1_025: hsla(0, 0%, 0%, 0.25);

  --dark2_100: #222222;

  --dark3_100: #333333;
  --dark3_075: #333333bf;

  --accent-color: rgb(34, 120, 146);
  --accent-color: rgb(6, 62, 114);
}

[data-color-scheme="dark"] {
  color-scheme: dark;
}

[data-color-scheme="light"] {
  color-scheme: light;
}
::-moz-selection {
  /* Code for Firefox */
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(13px);
  backdrop-filter: blur(13px);
}

::selection {
  color: rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(13px);
  backdrop-filter: blur(13px);
}

/* dark color theme 
-------------------------------------- */

.dark_color_theme {
  --background_color: var(--dark2_100);
  --font_color: var(--light1_100);
  --bar_color: var(--dark3_075);
  --bar_color_hover: var(--dark3_075);
  --item_background_color: var(--dark3_100);

  --menu-option-border: #999;
  --dev-background-color: var(--dark1_100);

  --header_background: rgb(42, 64, 83, 50%);

  
  --top-read-color: var(--dark1_075);
  --bottom-read-color: var(--dark1_025);
  --bottom-read-color-hover: var(--dark1_075);
}

#g_frame {
  filter: invert(90%);
}

.top-bar > a > span > img {
  filter: grayscale(0%);
  filter: invert(0%);
}

.bottom-bar > a > img {
  filter: invert(100%);
}

.item > #icon_fscreen_gframe > #gframe_fulls,
.item > #icon_fscreen_gframe > #gframe_fulls_off {
  filter: invert(100%);
}

/* light color theme
------------------------------------- */

.light_color_theme {
  --background_color: var(--light2_100);
  --font_color: var(--dark1_100);
  --bar_color: var(--light1_075);
  --bar_color_hover: var(--light1_100);
  --item_background_color: var(--light1_100);
  --menu-option-border: #555;
  --dev-background-color: var(--light3_100);

  --header_background: rgba(255, 255, 255, 0.7);

  --top-read-color: var(--light1_075);
  --bottom-read-color: var(--light1_025);
  --bottom-read-color-hover: var(--light1_075);
}

.light_color_theme .top-bar > a > span > img {
  filter: grayscale(0%);
  filter: invert(0%);
}

.light_color_theme .bottom-bar > a > img {
  filter: invert(0%);
}

.light_color_theme .item > #icon_fscreen_gframe > #gframe_fulls,
.light_color_theme .item > #icon_fscreen_gframe > #gframe_fulls_off {
  filter: invert(0%);
}

.magic {
  --background_color: red;
  --font_color: blue;
  --bar_color: green;
  --bar_color_hover: yellow;
  --item_background_color: orange;
}
