:root {
  font-family: monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin: 0px;
}

h1 {
  font-size: 20px;
}
h2 {
  font-size: 17px;
}

p {
  font-size: 14px;
  line-height: 1.6;
  font-weight: 400;
  
}

.greymatter {
  color: rgb(130, 130, 130);
  margin: 5px 0px 0px 0px;
}

.navbar span {
  margin: 8px 5px 8px 0px;
  float: right;
  display: block;
  color: darkslategrey;
  text-align: center;
  padding: 5px 14px;
  cursor: pointer;
  text-decoration: none;
  border: 3px solid #eee;
  border-radius: 50vmin;
}

.navbar span:hover {
  border: 3px solid #000000;
  color: black;
}

.navbar span.active {
  background-color: black;
  color: white;
  border: 3px solid #000000;
}

.navbar span {
  margin-right: 20px;
}


.dark-mode .bblack {
  background-color: #121212;
  color: #eee;
}

