#site-header {
  position: fixed;
  height: 194px;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: all 0.3s ease;
}
#site-header.hide {
  top: -100px;
}

.nav-logo {
  float: left;
}

.tell-content {
  margin: 20px 20px 20px 20px;
  border-radius: 10px;
  background-color: white;
  max-width: 400px;
  min-width: 400px;
  opacity: 70%;
  float: right;
  color: black;
  height: auto;
  padding: 2px 30px 2px 30px;
  border: 0px solid grey;
  animation: mymove 1s 5;
}

.switch {
  position: relative;
  margin-top: 50px;

  display: inline-block;
  width: 60px;
  height: 38px;
}

/* SLIDER BEGIN */

.dark-switch {
  position: relative;
  margin-top: 0px;
  margin-bottom: 15px;

  display: inline-block;
  width: 60px;
  height: 38px;
}

.dark-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.dark-mode .dark-switch .slider {
  border: 3px solid white;
}
.slider {
  position: absolute;
  border: 3px solid black;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #000;
  outline: none;
}

input:focus + .slider {
  box-shadow: 0 0 0px #073763;
  outline: none;
}

input:checked + .slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* SLIDER END */
