
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}



.dark-mode .icon-link {
  filter: invert(0%);
}

.hidden {
  display: none;
}
@media print {
  html,
  body {
    display: none; /* hide whole page */
  }
}

.dark-mode .float-right {
  float: right;
  margin: 4px 40px 4px 4px;
  color: white;
}

.float-right {
  float: right;
  margin: 10px;
}
