.dark {
    background-color: #222222;
}

.dark .bottom-bar, .dark .top-bar {
    background-color: rgba(66, 66, 66, 0.75) !important;
    color: white;
}

.dark .bottom-bar > a > img {
    filter:invert(100%);
}
.dark .bottom-bar:hover, .dark .top-bar:hover {
    background-color: rgb(66, 66, 66) !important;
}


.dark .item {
    background-color: rgb(122, 62, 40);
    color:white;
}

.dark .item:hover {
    background-color: rgb(0, 75, 75);
}

.dark a, .dark p, .dark  {
    color: #fff;
  }
