body {
    background-color: #eee;
}

.bottom-bar, .top-bar {
    background-color: rgba(255, 255, 255, 0.750) !important;
}

.bottom-bar:hover, .top-bar:hover {
    background-color: rgba(255, 255, 255, 1) !important;
}

.item {
    background-color: rgba(255, 255, 255, 1) ;
    color: black;
}

.item:hover {
    background-color: rgb(50, 105, 119) ;
    color: #fff;
}

.main_item:hover {
    background-color: #fff;
    color: #000;
}

a {
    color: black;
  }