@media screen and (max-width: 650px) {
  #webpage {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    grid-auto-rows: minmax(200px, auto);
    grid-auto-columns: minmax(200px, auto);

    column-gap: 10px;
    row-gap: 10px;

    margin: calc(2 * 57px - 10px) 10px 57px 10px;
    padding: 0px;

    border-radius: 18.5px;
    background-color: transparent;
  }

  .item {
    border-radius: 18.5px;
    padding: 10px;
    cursor: pointer;
    overflow: auto;
  }

  .main_item {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .top-bar {
    display: block;
    left: 10px;
    top: 10px;
    width: 300px;
    transition: 800ms;
  }

  .top-bar:hover {
    width: calc(100% - 20px);
    right: 10px;
    line-height: 200%;
    transition-delay: 0ms;
    transition: 400ms;
    height: calc(2 * 37px + 10px);
    padding-left: 40px;
  }

  .top-bar > .expand {
    visibility: hidden;
    float: right;
    margin-top: 10px ;
    transition-delay: 200ms;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 20px;
    border-radius: 50vw;
    top: 6px;
  
  }

  .tooltiptext {
    display: none;
  }

  .top-bar:hover > .expand {
    visibility: visible;
    transition-delay: 200ms;
    
  }

  .top-bar2 {
    top: calc(20px + 37px);
    right: 10px;
  }

  .bottom-bar {
    bottom: 10px;

    right: 10px;
    height: 37px;
  }
}
