.dark-mode .content {
  background-color: #212121;
  color: white;
}

.dark-mode .add-content {
  background-color: #333333;
  color: white;
}

.dark-mode .icon-bar {
  background-color: #121212;
  color: white;
}
.dark-mode .navbar {
  background-color: rgb(33, 33, 33);
}
.dark-mode .navbar a {
  border: 3px solid #333333;
  color: white;
}
.dark-mode .navbar a:hover {
  border: 3px solid white;
  color: white;
}
.dark-mode .navbar a.active {
  background-color: white;
  color: black;
  border: 3px solid white;
}

.dark-mode .sub-menu a.active {
  background-color: white;
  color: black;
  border: 3px solid white;
}
.dark-mode .button3 {
  border: 3px solid #333;
  background-color: #333;
  color: white;
}
.dark-mode .button3:hover {
  border: 3px solid #fff;
  outline: none;
  color: white;
}
.dark-mode .tweets {
  background-color: #333333;
}
.dark-mode .navbar .only-phone {
  color: #ffffff;
}

.dark-mode {
  background-color: rgb(22, 22, 22);
}

.dark body {
  background-color: #121212;
}

.dark-mode a:link {
  color: white;
}
.dark-mode a:visited {
  color: white;
}
.dark-mode a:hover {
  color: white;
}
.dark-mode a:active {
  color: white;
}

.dark-mode .footer {
  background-color: #121212;
  color: #eee;
}

.dark-mode .sidenav {
  background-color: #111;
}
.dark-mode .sidenav a {
  color: #eee;
}
.dark-mode .sidenav a:hover {
  color: white;
  text-decoration: underline;
}


.dark-mode .tell-content {
  background-color: black;
  color: white;
}

.dark-mode .webpage {
  background-color: rgb(0, 0, 0);
}

.special_background1 {background-color: coral;}
