@media screen and (max-width: 15000px) {
  @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Comforter+Brush&family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');

  .bblack .name_size {
    font-size: 50px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
  }
  .bblack .profile_pic {
    width: 150px;
  }

.icon-bar {
  background-color: rgb(221, 221, 221);
  border: 0px solid grey;
  height: auto;
  border-radius: 10px;
  float: left;
  padding: 20px;
  color: black;
  width: 100%;
}

.inside-heading {
  font-weight: 400;
  font-size: 37px;
}

.inside-heading-line {
  margin: 0px 0px 0px 0px;
}

.inside-text {
  color: white;
}

.icon {
  margin: 0px 20px 20px 0px;
  width: calc(100% / 8);
  min-width: 69px;
  max-width: 100px;
}

.icon-last {
  margin: 0px 0px 20px 0px;
  width: calc(100% / 8);
  min-width: 69px;
  max-width: 100px;
}

.webpage {
  background-color: white;
  margin: 0px;
  padding: 0px;
}

.right-panel {
  width: calc((100%) / 3.5);
  background-color: none;
  float: right;
  margin: 0px 10% 0px 0px;
  padding: 0px 0px 20px 0px;
  display: block;
}

.left-panel {
  width: calc(50%);
  float: left;
  background-color: none;
  margin: 0px 0px 0px 10%;
  padding: 0px 0px 20px 0px;
  
}

.left-pane-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  grid-auto-rows: minmax(200px, auto);
  grid-auto-columns: minmax(200px, auto);

  column-gap: 20px;
  row-gap: 20px;

  border-radius: 18.5px;
  background-color: transparent;
}

.big  {
  grid-column-start: 1;
  grid-column-end: 3;
}

.left-pane-grid .content {
  border: 3px solid rgb(80, 80, 80);
}

.left-pane-grid .content:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(19, 19, 19);
  cursor: pointer;
}

.dark-mode .left-pane-grid .content:hover {
  background-color: rgb(19, 19, 19);
  color: rgb(238, 238, 238);
  cursor: pointer;
}

.full-panel {
  width: 100%;
  float: left;
  background-color: none;
  margin: 0;
  padding: 0px 0px 0px 0px;
}

.content {
  width: -webkit-calc(100% - 2 * 20px);
  width: -moz-calc(100% - 2 * 20px);
  width: calc(100% - 2 * 20px);

  border-radius: 10px;
  border: 0px solid grey;
  float: left;
  background-color: #eeeeee;
  margin: 20px 20px 0px 0px;
  padding: 20px;
}

.left-panel .content {
  margin: 20px 0px 0px 0px;
  width: -webkit-calc(100% - 30px);
  width: -moz-calc(100% - 30px);
  width: calc(100% - 30px);
}

.content h1 {
  font-size: 22px;

  border-bottom: dashed 2px grey;
  padding-bottom: 20px;
}

.content p {

  font-size: 14px;
}

.right-panel .content {
  margin: 20px 0px 0px 0px;
  width: -webkit-calc(100% - 30px);
  width: -moz-calc(100% - 30px);
  width: calc(100% - 30px);
}

.page {
  margin-top: 0px;
  min-width: 0px;
  z-index: 9;
}

.add-content {
  margin: 0px 0px 20px 20px;
  border-radius: 25px;
  background-color: white;
  float: left;
  height: auto;
  padding: 20px 40px 20px 40px;
}

.tweets {
  margin: 20px 10px 10px 20px;
  background-color: white;
  display: none;
  padding: 10px 10px 10px 10px;
}

.navbar {
  transition: top 0.2s ease-in-out;
  border-radius: 0px;
  border: 0px solid grey;
  margin: 0px 0px 0px 0px;
  width: -webkit-calc(100% - 0px);
  width: -moz-calc(100% - 0px);
  width: calc(100% - 0px);
  padding: 2px 0px 2px 20px;
  overflow: auto;
  background-color: #fff;
}

.nav-up {
  top: -40px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #073763;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #073763;
  text-decoration: underline;
}


.footer {
  background-color: white;
  width: 100%;
  min-height: 200px;
  float: left;
  color: black;
  margin: 0px 0px 0px 0px;
  text-align: center;
  padding: 20px 40px 20px 40px;
}

}


/*
@media screen and (min-width: 1467px) {
 body {display: none;}
}

*/