input[type="text"],
input[type="password"],
input[type="email"] {
  min-width: 100%;
  padding: 6px 20px;
  margin: 4px 0;
  box-sizing: border-box;

  outline: none;
  font-size: 16px;
  border-top: 0px solid rgb(106, 106, 106);
  border-right: 0px solid rgb(106, 106, 106);
  border-bottom: 3px solid rgb(159, 159, 159);
  border-left: 0px solid rgb(106, 106, 106);

  border-radius: 0px;

  -webkit-transition: 0s;
  transition: 0s;

  background-color: transparent;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  border-bottom: 3px solid rgb(39, 39, 39);
}

input[type="submit"] {
  background-color: transparent;
  min-width: 95px;
  float: right;
  border: 3px solid #777;
  padding: 8px;
  margin-left: 90px;
  margin-right: 12px;
  border-radius: 8px;
}

input[type="submit"]:hover {
  background-color: transparent;
  border: 3px solid rgb(176, 176, 176);
  cursor: pointer;
}
