body {
  margin: 0px;
  padding: 0px;
  overflow-y: scroll;
  background-color: #ffffff;
}

header,
nav,
main,
section,
article,
aside,
footer {
  margin: 20px;
  padding: 0px 30px;
  background-color: none;
  border: solid 3px #eee;
  border-radius: 10px;
}

fieldset {
  margin: 20px;
  padding: 0px 30px 30px 30px;
  background-color: none;
  border: solid 3px #eee;
  border-radius: 10px;
}

a {
  color: #0b5091;
  text-decoration: none;
}

